.vip_content{padding:0 60px;clear:both;}
.vip_content p{font-size:14px;color:#333;text-indent: 2em;line-height: 32px;}
.vip_content img{display: block;margin:40px auto;}
.vip_content .vip_title{font-size:33px;color:#000;text-align: center;padding-top:60px;margin-bottom:55px;}
.vip_content .pubdate{text-align: center;height: 30px;border-bottom: 1px solid #eee;margin-bottom: 40px;}
.mr25{margin-right:25px;}
.mt40{margin-top:40px;}
.mb90{margin-bottom: 90px}