/* CSS Document */
.characteristics-box {
	padding:6px 6px;
	margin: 0 auto
}
.characteristics-title {
	line-height:24px;
	color:#999;
	font-size: 12px;
}
.select{
	width:70px;
	margin-left: 10px;
}
.select_pinpai{
	width:90px;
}
.present{
	background: #f3f3f3;
	height:40px;
}
.locate_list{
	float: right;
	margin-top:8px;
	margin-right:650px;
}
.wrong{
	float: left;
}
.wrong ul li{
	padding: 3px 10px 3px 10px;
	margin-left: 20px;
	border:solid 1px lightgrey;
	background:white;
	font-size: 12px;
}
.wrong ul li img{
	margin-left: 5px;
}
.wrong_pic{
	float: right;
}
.reset{
	float: right;
	margin-left: 20px;
	margin-top: 1px;
}
.reset a{
	font-size: 12px;
	margin-left:5px;
}
.reset img{
	margin-top:4px;
	float: left;
}
.locate{
	float: left;
}
.bg{
	color:#999;
	font-size: 12px;
	line-height: 40px;
	padding-left:5px;
}
.characteristics-con {
	overflow:hidden;
	*zoom:1;
}
#labels span{
	font-size: 14px;
}
.characteristics-con .cur a,.characteristics-con .cur a:hover {
	color:#f60;
	text-decoration:none;
	font-weight:700;
	cursor:default;
}
.characteristics-con .special a,.characteristics-con .special a:hover {
	color:#f60;
	font-weight:700;
}
.characteristics-item {
	float:left;
	line-height:24px;
	padding:0 10px 0 0;
	position:relative;
}
.characteristics-item a {
	white-space:nowrap;
	display:block;
	padding:0 4px;
	font-size:12px;
	color:black;
}
.pic-house {
	overflow:visible;
}
.listings-item-center {
	color:#787878;
	width:50%;
}
.listings-item-title {
	margin:0 0 2px;
}
.listings-item-title h3 {
	width:100%;
	float:left;
	font-size:16px;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	margin-left: 10px;
}
.listings-item-title h3 a{
	color: black;
}
.listings-item-title h3 a:visited,.list-content ul li .list-text h3 a:visited {
	color:black;
}
.listings-item-address {
	margin:5px 5px 0 10px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
.listings-item-address a {
	color:#787878;
	font-size: 12px;
}
.listings-item-characteristics {
	margin:15px 0 5px;
	color:#2e2e2e;
	font-size:13px;
}
.listings-item-characteristics span {
	display:block;
	float:left;
	margin:5px 5px 0 10px;
	font-size:12px;
}
.listings-item-characteristics .v_line {
	height:12px;
	background:#ccc;
	margin:4px 15px 0;
}
.listings-item-bottom {
	padding:9px 0 0;
}
.house-author {
	color:#ccc;
	line-height:16px;
	margin:5px 5px 0 10px;
	font-size:12px;
}
.house-author span {
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 15px 0 0;
}
.listings-item-right {
	padding:25px 10px 0 0;
	text-align:right;
}
.listings-item-price {
	color:#f60;
}
.listings-item-price span {
	font-size:26px;
	font-family:tahoma;
	font-weight:700;
}
.onaverage-price {
	top:0;
	position:relative;
	color:#999;
	font-size:12px;
}
.listings-item-right {
	position:relative;
}
hr{
	margin: 0 auto;
}
.content{
	margin-top: 30px;
	margin:0 auto;
}
.area{
	width: 1200px;
	margin:0 auto;
}
.page{
	margin-left: 380px;
	margin-top:50px;
}
.page ul .shang li{
	width: 75px;
}
.page ul li{
	margin-left: 15px;
	border:solid 1px lightgrey;
	padding: 5px;
	width:35px;
	text-align: center;
}
.page ul .page1 li{
	background-color:  #ff4546;
}
.page ul li a{
	color:black;
}
hr{
	width:1170px;
	color: lightgray;
	margin-top: 30px;
}
.house_list{
	width:1200px;
	margin: 0 auto;
	padding-bottom:50px;
}
.house_list .form{
	float: right;
	margin-top:20px;
	margin-right: 40px;
}
.house_list .form select{
	font-size: 12px;
	padding:3px 5px 3px 10px;
}
.house_list .form option{
	padding-left:10px;
}
.house_list .house_title{
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	margin-bottom:40px;
}
.house_list .house_title p{
	font-size: 12px;
	border:solid 1px lightgray;
	padding: 3px;
}
#list_pic{
  overflow: hidden;
  width:1200px;
  margin: 0 auto;
	clear:both;
	margin-top:50px;
}
#list_pic ul li{
  float: left;
  width:250px;
	height:300px;
  margin:40px 40px 0 10px;
}
#list_pic ul li a{
  display: block;
	color:black;
	font-size:12px;
}
#list_pic .money{
	color: #f20000;
}
#list_pic .num{
	font-size: 14px;
	font-weight: bold;
}
#search {
  float: right;
  margin-right: 90px;
  width:auto
}
.location{width:1200px;margin:0 auto;}